In [ ]:
#This file should be named Zoo
def hours():
    print("Open from 9-5")

In [4]:
import Zoo as menagerie

menagerie.hours()
# made the Zoo file in another file so it will work.

ModuleNotFoundError: No module named 'Zoo'

In [20]:
#makes database for the next page
import sqlite3
books = sqlite3.connect("books.db")
b = books.cursor()

books_list = [
    ("The Weirdstone of Brisingamen" , "Alan Garner" , 1960),
    ("Perdido Street Station" , "China MiÃ©ville" , 2000),
    ("Thud!" , "Terry Pratchett" , 2005),
    ("The Spellman Files" , "Lisa Lutz" , 2007),
    ("Small Gods" , "Terry Pratchett" ,1992)
]

b.execute("""CREATE TABLE IF NOT EXISTS books 
        (title TEXT,
        author TEXT,
        year INT)""")
b.executemany("""
    INSERT INTO books (title ,author ,year) VALUES (?,?,?)
    """,books_list)
books.commit()

In [31]:
# Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.
# I am unable to do this since I am unable to do this and I have been searching for a solution for close to 18 hours now please help me find out what I am doing wrong and let me fix it. 
import sqlite3
conn = sqlite3.connect("books.db")
b = books.cursor()
lister = []
counter = 0
for row in b.execute("SELECT title From books"):
    lister.append(row)
print(lister)

AttributeError: 'sqlite3.Cursor' object has no attribute 'title'